/* header */

header {
  background-color: #0c325a;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 100%;
  height: 500px;
  background-image: url(img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 94% 100%;
}

.nav-menu {
  margin: auto;
  width: 90%;
  height: 100px;
}

.imglogo {
  margin-left: 0%;
  width: 100%;
  height: 100%;
}

.logo {
  margin-right: 3%;
  padding-top: 2%;
  float: left;
}

ul {
  width: 100%;
  padding-top: 3%;
  padding-left: 15%;
  text-decoration: none;
}

ul li {
  display: inline;
}

.sol-az {
  margin-right: 250px;
}

.btn2 {
  border-radius: 10px;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
  margin-right: 1%;
  background-color: rgb(8, 184, 8);
  cursor: pointer;
}

.btn {
  border: 1px solid white;
  border-radius: 10px;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  margin-right: 1%;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: white;
  margin-right: 1%;
  font-family: "Roboto", sans-serif;
}

.menu2-inline {
  display: inline;
}

.scritta-header {
  width: 60%;
  height: 150px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  margin-top: 10%;
}

.btn3 {
  border-radius: 7px;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 3%;
  width: 11%;
  background-color: rgb(8, 184, 8);
  cursor: pointer;
  margin-top: 0%;
}

/* sotto-header */

.sotto-header {
  width: 100%;
  height: 150px;
  background-color: rgb(172, 170, 170);
  margin-top: 26%;
  margin-bottom: 100px;
}

.sotto-titolo {
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  color: black;
  text-align: center;
  padding-top: 3%;
}

.sotto-titolo2 {
  color: rgb(94, 92, 92);
  margin-top: 1%;
}

/* main */

.main {
  position: relative;
}
.divmainuno {
  width: 30%;
  height: 600px;
  margin-left: 3%;
  margin-top: 13%;
  display: inline-block;
  float: left;
}

.divmaindue {
  width: 30%;
  height: 600px;
  margin-left: 3%;
  margin-top: 13%;
  display: inline-block;
  position: absolute;
  top: 0%;
}

.divmaintre {
  width: 30%;
  height: 600px;
  margin-left: 3%;
  margin-top: 13%;
  display: inline-block;
  position: absolute;
  left: 66%;
}

img {
  width: 50%;
  height: 40%;
  margin-left: 25%;
}

.sotto-titoli-main {
  font-family: "Roboto", sans-serif;
  color: rgb(82, 163, 0);
  font-size: 190%;
  text-align: center;
}

.pardivmain {
  color: gray;
  text-align: center;
  font-size: 120%;
  font-family: "Roboto", sans-serif;
  margin-top: 10%;
}

.hrsmall {
  width: 30%;
  color: gray;
  margin-top: 10%;
}

.hrsmalldue {
  width: 30%;
  color: gray;
  margin-top: 18%;
}

.divmaindue img {
  width: 60%;
  height: 40%;
  margin-left: 20%;
}

.hrbig {
  width: 95%;
  margin: auto;
}

.divmainbasso {
  width: 100%;
  height: 550px;
  margin-top: 3%;
}

.imgmontagna {
  padding-top: 5%;
  width: 50%;
  height: 90%;
  margin-left: 5%;
  float: left;
}

.scrittadivbasso {
  width: 32%;
  height: 300px;
  margin-left: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  padding-top: 5%;
  padding-left: 10%;
}

.scrittadivbasso p {
  font-size: 90%;
  color: gray;
}

.scrittadivbasso a {
  text-decoration: underline;
  color: rgb(40, 40, 255);
}

.divfooter {
  width: 100%;
  height: 170px;
  background-color: rgb(211, 209, 209);
  margin-top: 3%;
}

.divfooteruno {
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  margin-left: 0%;

  width: 15%;
  padding-top: 4%;
  padding-left: 10%;
  float: left;
}

.divfooterdue {
  font-family: "Roboto", sans-serif;
  color: rgb(95, 94, 94);
  padding-top: 5%;
  width: 5%;
  margin-left: 30%;
  float: left;
}

.divfootertre {
  font-family: "Roboto", sans-serif;
  color: rgb(95, 94, 94);

  width: 13%;
  padding-top: 5%;
  float: left;
}

.hrfooter {
  margin-top: 0%;
}

.freccia {
  color: gray;
  margin-left: 105px;
}

.btnfooter {
  float: left;
  font-family: "Roboto", sans-serif;
  background-color: rgb(8, 184, 8);
  color: white;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  padding: 15px 10px 15px;
  width: 13%;
  margin-left: 2%;
  margin-top: 4%;
}

.help {
  float: left;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: rgb(8, 184, 8);
  border-radius: 5%;
  width: 5%;
  height: 50px;
  padding-top: 2%;
  text-align: center;

  position: fixed;
  width: 5%;
  height: 50px;
  top: 90%;
  bottom: 5%;
  left: 90%;
  right: 10%;
  z-index: 3;
}
